/* 1. Tailwind base styles (includes normalize.css, etc.) */
@tailwind base;

/* 2. Tailwind component classes */
@tailwind components;

/* 3. Tailwind utility classes */
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Arial', 'Garamond'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, Trebuchet, Georgia;
}
